@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Roboto, Helvetica, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

/* For webkit-based browsers (Chrome, Safari, Edge) */
/* Customize the scrollbar track (the background behind the thumb) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* On hover, change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

/* NAV */
.bg-green {
  background-color: #28A745;
}

.navbar-toggler {
  border-color: #FFFFFF;
  border: 2px solid rgb(255, 255, 255);
}

.navbar-brand img {
  width: 86px;
}

/* CARD */
.container {
  padding: 20px;
}

.card-deck h4 {
  color: #212529;
  font-size: 16pt;
  font-weight: 300;
}

.card-deck h5 {
  color: #707070;
  font-size: 14pt;
  font-weight: 300;
}

.card-deck .address i {
  color: #707070;
  font-size: 9pt;
}

.card-deck p {
  color: #707070;
  font-size: 11pt;
  font-weight: 300;
}

/* PRICE */
.card-deck .price h5 {
  color: #707070;
  font-size: 14pt;
}

.card-deck .price h5:last-child {
  color: #28A745;
  font-size: 16pt;
  font-weight: 500;
}

/* FOOTER */
footer .form-group input {
  color: #707070;
  font-weight: 300;
}

footer form h3 {
  font-weight: 400;
  font-size: 16pt;
}

.input-green {
  height: 241px;
}

.bottom-footer {
  height: 118px;
}

.bottom-footer img {
  width: 82px;
}

.bottom-footer p {
  color: #707070;
  font-size: 10pt;
  font-weight: 300;
  margin-bottom: 0;
}

footer .btn {
  border: #707070;
}

@media screen and (min-width: 400px) {
  .card-deck {
    margin: 50px 0;
  }
}

/*# sourceMappingURL=style.css.map */
